@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

.project-card {
  @apply flex flex-col m-3 rounded-xl w-full
            transition duration-300 transform border border-gray-300
            hover:scale-105
            hover:shadow-lg
            dark:border-gray-200/50
            dark:hover:shadow-gray-300/40
    
            /* hover:text-gray-300; */;
}
